body{
	margin: 0;
	padding: 0;
	font-family: 'Microsoft JhengHei';
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.btn{
	position: relative;
	display: inline-flex;
	padding: 10px 40px;
	overflow: hidden;
	font-weight: 600;
}
.btn:hover{
}
.btn.border{
	color: #fff;
	border: 1px solid #fff;
	z-index: 1;
	transition: 0.3s;
}
.btn.border:hover{
	color: #000;
}
.btn.border:before{
	content: '';
	position: absolute;
	background-color:#fff;
	height: 200%;
	top: -50%;
	left: -10%;
	z-index: -1;
	transform: rotate(-10deg);
	width: 0%;
	transition: 0.3s;
}
.btn.border:hover:before{
	width: 120%;
}
.bgCover{
	background-position: center;
	background-size: cover;
}
.container{
	width: 1400px;
	margin: auto;
}
@media(max-width: 1500px){
	.container{
		width: 1170px;
	}	
}
@media(max-width: 1170px){
	.container{
		width: 992px;
	}	
}
@media(max-width: 992px){
	.container{
		width: 768px;
	}	
}
@media(max-width: 768px){
	.container{
		width: 480px;
	}	
}
@media(max-width: 480px){
	.container{
		width: 95%;
	}	
}

header{
	margin-top: 90px;;
}
header .headerWrap{
	position: fixed;
	width: 100%;
	box-shadow: 1px 1px 12px #00000014;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 9;
	height: 90px;;;
}
header .headerWrap .flex{
	display: flex;
	padding: 15px 0;}
header .headerWrap .flex .logoBlock{
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;}
header .headerWrap .flex .logoBlock img.pc{
	width: 75px;
}
header .headerWrap .flex .logoBlock img.mobile{
	display: none;

}
header .headerWrap .flex .userAndNavBlock{
	width: 100px;
	align-items: center;
	justify-content: center;
	display: flex;}
header .headerWrap .flex .userAndNavBlock a{
	display: block;;}
header .headerWrap .flex .userAndNavBlock img{
	width: 45px;
	display: block;;
}
header .headerWrap .flex .userAndNavBlock nav{
	width: 28px;
	height: 22px;
	position: relative;
	display: block;
	margin-right: 14px;;
	cursor: pointer;
	display: none;
}
header .headerWrap .flex .userAndNavBlock nav b{
	width: 100%;
	height: 4px;
	background-color: #000;
	display: block;
	border-radius: 2px;
	position: absolute; 
	transition: 0.3s
}
header .headerWrap .flex .userAndNavBlock nav b:nth-child(1){
	top: 0;
}
header .headerWrap .flex .userAndNavBlock nav b:nth-child(2){
	top: calc(50% - 2px);
}
header .headerWrap .flex .userAndNavBlock nav b:nth-child(3){
	bottom: 0;
}
header .headerWrap .flex .userAndNavBlock nav.active b:nth-child(1){
	transform: translateY(9px)rotate(45deg);
}
header .headerWrap .flex .userAndNavBlock nav.active b:nth-child(2){
	width: 0;
	transform: translateX(14px)rotate(45deg);
}
header .headerWrap .flex .userAndNavBlock nav.active b:nth-child(3){
	transform: translateY(-9px)rotate(-45deg);
	 
}
header .headerWrap .flex .menuBlock{
	width: calc(100% - 230px);
	display: flex;
	justify-content: flex-end;
	align-items: center;}
header .headerWrap .flex .menuBlock > ul{
	display: flex;
}
header .headerWrap .flex .menuBlock > ul > li{}
header .headerWrap .flex .menuBlock > ul > li a{
	padding: 13px 0;
	margin: 0 16px;
	color: #5a5a5a;
	position: relative;
	display: block;
	font-weight: 600;
	transition: 0.3s;
}
header .headerWrap .flex .menuBlock > ul > li a.active{
	color: #2495da;
}

@media(max-width:768px){
	header .headerWrap .flex .userAndNavBlock nav{
		display: block;
	}
	header .headerWrap .flex .logoBlock img.pc{
		display: none;
	}
	header .headerWrap .flex .logoBlock img.mobile{
		display: block;
		margin-bottom:-13px;
	}
	header .headerWrap .flex .menuBlock{
		position: fixed;
		top: 90px;
		background-color: #ffffffed;
		width: 100%;
		left: 0;
		display: block;
		height: calc(100vh - 76px);
		opacity: 0;
		pointer-events: none;
		transition: 0.5s;
	}
	header .headerWrap .flex .menuBlock.active{
		opacity: 1;
		pointer-events: all;
	}
	header .headerWrap .flex .menuBlock > ul{
		flex-direction: column;
		justify-content: space-around;
		min-height: 50vh;
	}
	header .headerWrap .flex .menuBlock > ul > li a{
		margin: 0;
		text-align: center;
	}
	header .headerWrap .flex{
		justify-content: space-between;
		padding: 17px 0;;
	}
	header .headerWrap .flex .userAndNavBlock{
		width: auto;
	}
	header .headerWrap .flex .logoBlock{
		width: 165px
	}
	header .headerWrap{
		height: 76px;
	}
	header{
	margin-top: 76px;
	}
	header .headerWrap .flex .userAndNavBlock img{
		width: 38px
	}
}

.inputGroup{
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 20px;}
.inputGroup input{
	max-width: 230px;
	padding: 5px;
	border: 0;}
.inputGroup > label{
	margin-bottom: 9px;}
.inputGroup > input:focus + label{}
.inputGroup > div:not(.inputGrid){
	display: flex;
	flex-direction: column;;;}
.inputGroup > div > input{
	margin-bottom: 10px;;}
.inputGrid{
	display: grid;
	grid: auto / 1fr 1fr 1fr;
	grid-gap: 10px;;;;}


.globalTopBanner{
	height: 540px;
	background-size: cover;
	background-position: center;;;;}
.globalTopBanner .container{
	position: relative;
	height: 100%;
	display: flex;;;;;}
.globalTopBanner .layout{
	position: absolute;
	bottom: 15%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;;;;;;}
.globalTopBanner .layout img{
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
	max-height: 145px;
	transform: translateZ(0);;;;;;}
.globalTopBanner .layout a.btn{
	text-shadow: 1px 1px 2px #0000005e;;}

footer{
	background-color: #fff;
	border-top: 1px solid #e2e2e2;;;}
footer .grid{
	display: grid;
	grid: auto / 1fr 1fr 1fr 1fr 1fr;
	padding: 80px 0px;;;;}
footer .grid article{}
footer .grid article h3{
	font-size: 20px;
	margin-bottom: 10px;;;}
footer .grid article ul{
	margin-bottom: 20px;;}
footer .grid article ul li{
	margin-bottom: 9px;font-size: 14px;}
footer .grid article ul li a{
	color: #5f5f5f;;}
footer .grid article img{
	width: 120px;;}
@media(max-width: 768px){
	footer .grid{
		grid: auto / 1fr 1fr 1fr;
		grid-gap: 20px;
	}
}
@media(max-width: 480px){
	footer .grid{
		display: block;
		margin: auto;
		width: 80%;
	}
}
.creativeJourneyPage{}
.creativeJourneyPage .gridBlock{
	margin:15px 0 60px; 
}
.creativeJourneyPage .gridBlock .item{
	width: calc(475px - 30px);
	margin: 15px;
}
.creativeJourneyPage .gridBlock .item .photofix{
	height: 400px;
}
.creativeJourneyPage .gridBlock .item .photofix img{
	transition: 0.5s;
}
.creativeJourneyPage .gridBlock .item:hover .photofix img{
	transform: rotate(3deg)scale(1.1);
}
.creativeJourneyPage .gridBlock .item:nth-child(3n-1) .photofix{
	height: 500px;
}
.creativeJourneyPage .gridBlock .item:nth-child(4n-3) .photofix{
	height: 350px;
}
.creativeJourneyPage .gridBlock .item:nth-child(3n-2) .photofix{
	height: 600px;
}
.creativeJourneyPage .gridBlock .item .layout{
	position: absolute;
	background-color: #0000008a;
	padding: 25px;
	bottom: 0;
	width: calc(100% - 50px);
	left: 0;
	color: #fff;
	transition: 0.3s;
}
.creativeJourneyPage .gridBlock .item:hover .layout{
	padding: 30px 25px;
	background-color: #000000ba;
}
.creativeJourneyPage .gridBlock .item .layout h3{;
	margin-bottom: 7px;}
.creativeJourneyPage .gridBlock .item .layout p{
	font-size: 13px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 1.5;
}

@media(max-width: 1500px){
	.creativeJourneyPage .gridBlock .item{
		width: calc(390px - 30px);
		margin: 15px;
	}
}
@media(max-width: 1170px){
	.creativeJourneyPage .gridBlock .item{
		width: calc(330px - 30px);
		margin: 15px;
	}	
}
@media(max-width: 992px){
	.creativeJourneyPage .gridBlock .item{
		width: calc(384px - 30px);
		margin: 15px;
	}	
}
@media(max-width: 768px){
	.creativeJourneyPage .gridBlock .item{
		width: calc(100%);
		margin: 5px 0;
	}	
}

.newsPage .newsGrid{
    display: grid;
    grid: auto / calc(100% - 120px) 120px;
    margin: 40px 0px;
    grid-gap: 18px;
}
.newsPage .newsGrid .mainBlock{
}
.newsPage a.label{
    background-color: #e4b359;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
    border-radius: 3px;
}
.newsPage .newsGrid .mainBlock article:not(:last-child){
    padding-bottom: 35px;
    margin-bottom: 25px;
    border-bottom: 1px solid #efefef;
}
.newsPage .mainBlock article >  p{
    margin: 7px 0px;
}
.newsPage .mainBlock article .grid{
    display: grid;
    grid: auto auto auto / 30% calc(70% - 25px);
    grid-gap: 7px 25px;
}
.newsPage .mainBlock article .grid .pic{
    grid-area: 1 / 1 / 5;
    min-height: 235px;
    height: 0;
}
.newsPage .mainBlock article .grid .tag{
    display: flex;
    align-items: center;
}
.newsPage .mainBlock article .grid h3{
    display: flex;
    align-items: center;
}

.newsPage .mainBlock article .grid p{
    line-height: 1.4;
    color: #585757;
}
.newsPage .mainBlock article .grid .more{
}
.newsPage .mainBlock article .grid .more a{
    color: #5b9ed8;
    font-size: 17px;
    letter-spacing: 1px;
}
.newsPage .newsGrid .sideBlock div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newsPage .newsGrid .sideBlock h3{
    margin-bottom: 18px;
}
.newsPage .newsGrid .sideBlock a.label{
    margin-bottom: 11px;
}
.newsPage .newsGrid{
    display: grid;
    grid: auto / calc(100% - 120px) 120px;
    margin: 40px 0px;
    grid-gap: 18px;
}
.newsPage .newsGrid .mainBlock{}
.newsPage a.label{
    background-color: #e4b359;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
    border-radius: 3px;}
.newsPage .newsGrid .mainBlock article:not(:last-child){
    padding-bottom: 35px;
    margin-bottom: 25px;
    border-bottom: 1px solid #efefef;
}
.newsPage .mainBlock article >  p{
    margin: 7px 0px;}
.newsPage .mainBlock article .grid{
    display: grid;
    grid: auto auto auto / 30% calc(70% - 25px);
    grid-gap: 7px 25px;}
.newsPage .mainBlock article .grid .pic{
    grid-area: 1 / 1 / 5;
    min-height: 235px;
    height: 0;}
.newsPage .mainBlock article .grid .tag{
    display: flex;
    align-items: center;}
.newsPage .mainBlock article .grid h3{
    display: flex;
    align-items: center;}
.newsPage .mainBlock article .grid p{
    line-height: 1.4;
    color: #585757;}
.newsPage .mainBlock article .grid .more{}
.newsPage .mainBlock article .grid .more a{
    color: #5b9ed8;
    font-size: 17px;
    letter-spacing: 1px;}
.newsPage .newsGrid .sideBlock div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;}
.newsPage .newsGrid .sideBlock h3{
    margin-bottom: 18px;}
.newsPage .newsGrid .sideBlock a.label{
	margin-bottom: 11px;
}
@media(max-width: 768px){
	.newsPage .newsGrid{
    display: flex;
    flex-direction: column-reverse;}
    .newsPage .newsGrid .sideBlock div{
    	display: block;
    	margin-bottom:10px;
    }
    .newsPage .newsGrid .sideBlock h3{
    	margin-bottom:10px;
    }
    .newsPage .mainBlock article .grid{;
    grid: auto / auto;
    }
    .newsPage .mainBlock article .grid .pic{
    margin-bottom: 6px;

    }
}

header.home{
	margin: 0;
}
header.home .headerWrap{
    background-color: transparent;
    box-shadow: none;
    z-index: 30;
}
header.home:before{
	content: '';
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #000000bf;
    z-index: 10;
}
header.home .headerWrap .flex .logoBlock img.pc{
	width: 100%;
	margin-top: 10px;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));}
header.home .headerWrap .flex .menuBlock > ul > li a{
	color: #fff;
	text-shadow: 1px 1px 4px #000;}
header.home .headerWrap .flex .logoBlock{
	width: 250px;
}
header.home .headerWrap .flex .userAndNavBlock nav b{
	background-color: #fff;
}
@media(max-width:768px){
	header.home:before{
	    height: 90px;
	}
}
.home .heroSlider{
    position: relative;
    z-index: 25;
}
.home .heroSlider .slideItem{
	height: 100vh;
	position: relative;}
.home .heroSlider .slideItem .container{
	position: relative;
	height: 100%;}
.home .heroSlider .slideItem .layout{
	position: absolute;
	bottom: 20vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;}
.home .heroSlider .slideItem .layout img{
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #fff;
	padding-right: 5vw;}
.home .heroSlider .slideItem .layout .btn{
	padding: 10px 60px;}
.home .homeIntro{
	padding: 80px 0;}
.home .homeIntro img{
	height: 40px;
	margin-bottom: 35px;}
.home .homeIntro p{
	margin-left: 80px;
	font-size: 15px;
	line-height: 1.9;}
.home .homeIntro b{
	font-size: 17px;
	vertical-align: baseline;
	margin-right: 2px;}
.home .homeMap{
	padding-bottom: 80px;}
.home .homeMap .flex{
	display: flex;
	align-items: center;}
.home .homeMap .mapContainer{
	flex: 1;}
.home .homeMap .locationList{
	flex: 1;}
.home .homeMap .locationList ul{
	background-color: #f1f1f1;}
.home .homeMap .locationList ul li a{
	display: grid;
	grid: auto / 150px auto;
	grid-gap: 4px;
	padding: 4px 8px;
	cursor: pointer;}
.home .homeMap .locationList ul li{
	transition: 0.1s;}
.home .homeMap .locationList ul li:hover,
.home .homeMap .locationList ul li.active{
	background-color: #e4e4e4;}
.home .homeMap .locationList ul li a > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;}
.home .homeMap .locationList ul li a > div img{
	margin-bottom: 7px;
	height: 17px;
	transform: translateZ(0);}
.home .homeMap .locationList ul li a > div p{
	color: #8a8989;
	font-weight: 600;}
.home .homeMap .locationList ul li a > img{}
.home .homeMap .mapContainer svg{
	margin: 0 55px;}
.home .homeMap .mapContainer svg path,
.home .homeMap .mapContainer svg polygon{
	fill: transparent;
	stroke: #444;
	transition: 0.3s;}
.home .homeMap .mapContainer svg path.active,
.home .homeMap .mapContainer svg g.active polygon{
	fill: #e4e4e4;}
.home .homeExperience{
	margin: 30px 0 80px;}
.home .homeExperience .ExSliderContianer{
	position: relative;}
.home .homeExperience .ExSliderContianer .swiper-wrapper{}
.home .homeExperience .ExSliderContianer article{
	max-width: 33.33334%;}
.home .homeExperience .ExSliderContianer .photofix{
	height: 300px;
	margin: 0 10px;}
.home .homeExperience .ExSliderContianer .photofix:first-child{
	margin-bottom: 20px;}
.home .homeExperience .ExSliderContianer .photofix .layout{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #00000059;
	flex-direction: column;
	opacity: 0;
	transition: 0.5s;
	color: #fff;}
.home .homeExperience .ExSliderContianer .photofix .layout h3{
	font-size: 25px;
	margin-bottom: 3px;
	transition: 0.5s;
	transform: translateY(30px);}
.home .homeExperience .ExSliderContianer .photofix:hover .layout h3{
	transform: translateY(0px);
	transition: 0.5s;}
.home .homeExperience .ExSliderContianer .photofix .layout p{
	font-size: 22px;
	transition: 0.8s;
	transform: translateY(50px);}
.home .homeExperience .ExSliderContianer .photofix:hover .layout p{
	transform: translateY(0px);}
.home .homeExperience .ExSliderContianer .photofix img{
	transition: 0.5s;}
.home .homeExperience .ExSliderContianer .photofix:hover img{
	transform: scale(1.1);}
.home .homeExperience .ExSliderContianer .photofix:hover .layout{
	opacity: 1;}
.home .homeBusiness{
	padding-bottom: 80px;;}
.home .homeBusiness .titleBlock{
	display: flex;
	align-items: center;
	justify-content: center;}
.home .homeBusiness .titleBlock img{
	height: 35px;
	margin-bottom: 60px;;;}
.home .homeBusiness .grid{
	display: grid;
	grid: auto auto / 1fr 1fr 1fr 1fr;
	grid-gap: 20px;;}
.home .homeBusiness .grid article{
	text-align: center;
	margin-bottom: 20px;;;}
.home .homeBusiness .grid article .imgBlock{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin-bottom: 7px;;;;;;;;}
.home .homeBusiness .grid article .imgBlock img{
	max-height: 80%;;;;}
.home .homeBusiness .grid article h2{
	margin-bottom: 5px;;}
.home .homeBusiness .grid article p{
	color: #7b7b7b;;}
.home .homeCustomize{
	height: 600px;
}
.home .homeCustomize .container{
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	display: flex;;;;}
.home .homeCustomize .layout{
	text-align: center;;}
.home .homeCustomize .layout h2{
	color: #fff;
	font-size: 35px;
	letter-spacing: 1px;;;;}
.home .homeCustomize .layout .btn{
	background-color: #fff;
	color: #557999;
	padding: 10px 50px;
	margin-top: 35px;;;;;
	
}
@media(max-width:768px){
	.home .homeIntro p{
		margin-left: 0;
	}
	.home .homeMap .mapContainer{
		display: none;
	}
	.home .homeExperience .ExSliderContianer article{
		max-width: 50%;
	}
	.home .homeExperience .ExSliderContianer .photofix .layout{
	    opacity: 1;
	    height: 30%;
	    bottom: 0;
	    top: auto;
	}
	.home .homeExperience .ExSliderContianer .photofix .layout h3,
	.home .homeExperience .ExSliderContianer .photofix .layout p{
		transform: translateY(0);
	    font-size: 14px;
	}
	.home .homeBusiness .grid{
	    grid: auto auto auto / 1fr 1fr 1fr;
	}
	.home .heroSlider .slideItem .layout img{
		padding-right: 0;
	    max-width: 90%;
	}
}
@media(max-width:480px){
	.home .homeExperience .ExSliderContianer article{
		max-width: 100%
	}
	.home .homeBusiness .grid{
	    grid: auto auto auto auto / 1fr 1fr;
	}
	.home .homeCustomize .layout{
		width: 100%;
	}
	.home .heroSlider .slideItem .layout{
		align-items: center;
		bottom: 30vh;
	}
}

.navigationFlex{
	width: calc(100% + 80px);
	height: 80px;
	top: calc(50% - 40px);
	left: -40px;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;}
.navigationFlex nav{
	height: 100%;
	width: 30px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.2;
	pointer-events: all;
	outline: none;}
.navigationFlex .next{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E");}
.navigationFlex .prev{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E");}
@media(max-width: 768px){
	.navigationFlex{
		display: none;
	}
}
.experienceListPage .list{
	padding-top: 40px;;}
.experienceListPage .list h2{
	margin: 17px;;}
.experienceListPage .list > article{
	position: relative;
	margin-bottom: 60px;;}
.experienceListPage .list .swiper-slide{}
.experienceListPage .list .swiper-slide > a{
	display: block;
	color: #000;
	margin: 17px;}
.experienceListPage .list .swiper-slide .photofix{
	height: 280px;}
.experienceListPage .list .swiper-slide .photofix img{
	transition: 0.3s;
}
.experienceListPage .list .swiper-slide .photofix:hover img{
	transform: scale(1.1);
}
.experienceListPage .list .swiper-slide h3{
	margin: 10px 0 5px;}
.experienceListPage .list .swiper-slide p{
	color: #999;
}

.experiencePage .thunderSlider{
	display: grid;
	grid: 600px / 80% 20%;
	grid-gap: 10px;
	width: calc(100% - 10px);
	padding-top: 40px;;;;;;}
.experiencePage .thunderSlider .swiperContainer{
	position: relative;
}
.experiencePage .thunderSlider .swiperContainer .navigationFlex{
	width: 96%;
    z-index: 20;
    left: 2%;
}
.experiencePage .thunderSlider .swiperContainer .swiper-container{
	height: 100%;}
.experiencePage .thunderSlider > ul{
	display: grid;
	grid: calc(33.3334% - 7px) calc(33.3334% - 7px) calc(33.3334% - 7px)/ 100%;
	grid-gap: 10px 0;}
.experiencePage .thunderSlider > ul li{}
.experiencePage .thunderSlider .photofix{
	height: 100%;}
.experiencePage .thunderSlider > ul .photofix img{
	transition: 0.3s;
}
.experiencePage .thunderSlider > ul .photofix:hover img{
	transform: scale(1.1);
}
.experiencePage .descriptionBlock h2{
	margin: 40px 0;;}
.experiencePage .descriptionBlock .flex{
	display: grid;
	grid: auto / 6fr 4fr;
	grid-gap: 40px;
	margin-bottom: 60px;;;;;}
.experiencePage .descriptionBlock .flex .bg{
	padding: 25px;
	background-color: #f9f9f9;;;}
.experiencePage .descriptionBlock .flex .bg h3{
	margin-bottom: 15px;;}
.experiencePage .descriptionBlock .flex .bg p{
	margin-bottom: 30px;;}
.experiencePage .likeBlock{
	padding-bottom: 100px;;}
.experiencePage .likeBlock h2{
	margin-bottom: 40px;;}
.experiencePage .likeBlock .grid{
	display: grid;
	grid: auto / 1fr 1fr;
	grid-gap: 30px;}
.experiencePage .likeBlock .grid a{
	display: flex;
	color: #000;
	position: relative;
}
.experiencePage .likeBlock .grid a > div:last-child{
	padding: 25px 17px;;}
.experiencePage .likeBlock .grid a .photofix img{
	transition: 0.3s;
}
.experiencePage .likeBlock .grid a h3{
	letter-spacing: 1px;
	margin-bottom: 4px;}
.experiencePage .likeBlock .grid a:hover .photofix img{
	transform: scale(1.1);
}
@media(max-width:768px){
	.experiencePage .thunderSlider{
	    grid: 300px 100px / 100%;
        width: 100%;
	}
	.experiencePage .thunderSlider > ul{
	    grid: 100% / calc(33.33334% - 7px) calc(33.33334% - 7px) calc(33.33334% - 7px);
	    grid-gap: 0 10px;
	}
	.experiencePage .descriptionBlock .flex{
		grid: auto / auto;
	}
	.experiencePage .likeBlock .grid{
		grid: auto / auto;
	}
	.experiencePage .likeBlock .grid a > div:last-child{
	    position: absolute;
	    padding: 25px 4%;
	    width: 92%;
	    background-color: #0000006b;
	    color: #fff;
	}
	.experiencePage .likeBlock .grid a .photofix{
	    width: 100%;
	}
}

.businessPage .tabsContainer .link{
	border-bottom: 1px solid #efefef;
	margin-top: 20px;}
.businessPage .tabsContainer .link ul{
	display: flex;
	justify-content: center;}
.businessPage .tabsContainer .link ul li{
	padding: 20px 45px;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	transition: 0.3s;}
.businessPage .tabsContainer .link ul li:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 45px;
	width: 0;
	background-color: #496d90;
	height: 3px;
	transition: 0.3s;}
.businessPage .tabsContainer .link ul li.active{
	color: #4b6e92;}
.businessPage .tabsContainer .link ul li.active:after{
	width: calc(100% - 90px);}
.businessPage .tabsContainer ul.content{
	margin: 60px 0;}
.businessPage .tabsContainer ul.content li{}
.businessPage .tabOne{
	max-width: 992px;
	margin: auto;}
.businessPage .tabOne .grid{
	display: grid;
	grid: auto / 1fr 1fr;
	grid-gap: 22px;}
.businessPage .tabOne .grid article{
	display: flex;
	align-items: center;}
.businessPage .tabOne .grid article div:first-child{
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;}
.businessPage .tabOne .grid article div:last-child{}
.businessPage .tabOne .grid article img{
	max-height: 90%;}
.businessPage .tabOne .grid article h2{
	font-size: 18px;
	margin-bottom: 2px;}
.businessPage .tabOne .grid article p{
	font-size: 14px;
	color: #565656;}
.businessPage .tabTwo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 0;}
.businessPage .tabTwo > div{
	position: relative;}
.businessPage .tabTwo svg{
	max-width: 100%;;}
.businessPage .tabTwo svg path{
	stroke-width: 12px;
	stroke: #e2e2e2;}
.businessPage .tabTwo article{
	position: absolute;
	text-align: center;
	width: 15%;
}
.businessPage .tabTwo article div:first-child{
	height: 68px;}
.businessPage .tabTwo article div:last-child{}
.businessPage .tabTwo article img{
	background-color: #fff;
	padding: 0px 16px;
	max-width: calc(80% - 32px);
	max-height: 95%;}
.businessPage .tabTwo article h2{
	font-size: 20px;}
.businessPage .tabTwo article p{
	font-size: 11px;}
.businessPage .tabTwo article:nth-child(2){
	top: -7%;
	left: 30%;}
.businessPage .tabTwo article:nth-child(3){
	top: -7%;
	left: 70%;}
.businessPage .tabTwo article:nth-child(4){
	top: 26%;
	left: 12%;}
.businessPage .tabTwo article:nth-child(5){
	top: 26%;
	left: 50%;}
.businessPage .tabTwo article:nth-child(6){
	top: 60%;
	left: 30%;}
.businessPage .tabTwo article:nth-child(7){
	top: 60%;
	left: 70%;}
.businessPage .tabTwo article:nth-child(8){
	top: 90%;
	left: 12%;}
.businessPage .tabTwo article:nth-child(9){
	top: 90%;
	left: 50%;}
@media(max-width:992px){
	.businessPage .tabTwo article{
		width: 19%;
	}
	.businessPage .tabTwo article div:first-child{
		height: 50px;
	}
	.businessPage .tabTwo article:nth-child(2){top: 6%;}
	.businessPage .tabTwo article:nth-child(3){top: 6%;}
	.businessPage .tabTwo article:nth-child(4){
		top: 32%;
		left: 12%;}
	.businessPage .tabTwo article:nth-child(5){
		top: 32%;
		left: 50%;}
	.businessPage .tabTwo article:nth-child(6){
		top: 58%;
		left: 30%;}
	.businessPage .tabTwo article:nth-child(7){
		top: 58%;
		left: 70%;}
	.businessPage .tabTwo article:nth-child(8){
		top: 83%;
		left: 12%;}
	.businessPage .tabTwo article:nth-child(9){
		top: 83%;
		left: 50%;}
}
@media(max-width:768px){
	.businessPage .tabTwo svg{
		display: none;
	}
	.businessPage .tabTwo > div{
		display: grid;
		grid:auto / 1fr 1fr;
	}
	.businessPage .tabTwo{
		display: block;
	}
	.businessPage .tabTwo article{
		position: static;
		width: 100%;
		margin-bottom: 40px;
	}
	.businessPage .tabTwo{
		padding: 20px 0;
	}
}
@media(max-width:480px){
	.businessPage .tabOne .grid{
		grid:auto / 1fr; 
	}
}

.aboutPage{
	padding-top: 45px;}
.aboutPage h2{
	margin-bottom: 20px;
}
.aboutPage p{
	font-size: 14px;
	line-height: 1.7;
	color: #505050;
	padding-bottom: 40px;
}
.aboutPage .shellList{
	padding-bottom: 60px;
}
.aboutPage .shellList li{
	overflow: hidden;
	transition: 1s;
	cursor: pointer;
}
.aboutPage .shellList li h3{
    padding: 20px 0;
}
.aboutPage .shellList li h3 i{
	display: inline-flex;
	height: 25px;
	width: 25px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	transition: 0.3s;
	transform: rotate(-90deg);
	vertical-align: bottom;
}
.aboutPage .shellList li p{
	padding-top: 30px;
}
.aboutPage .shellList li.active h3{
}
.aboutPage .shellList li.active h3 i{
	transform: rotate(90deg);
}
.aboutPage .shellList li.active p{
}
.aboutPage .shellList li:not(:last-child){
	border-bottom: 1px solid #f3f3f3;
}
.aboutPage .businessPage .tabOne{
	margin-left: 0;
	padding-top: 10px;
    padding-bottom: 60px;
}
.aboutPage .contactBlock img{
	height: 60px;
}
.aboutPage .contactBlock ul{
	font-size: 19px;
	padding-bottom: 40px;
}
.aboutPage .contactBlock li{
	margin-bottom: 5px
}

.cooperatePage{
	padding-top: 50px;;}
.cooperatePage .flex{
	display: flex;;;}
.cooperatePage .brandBlock{
	width: calc(100% - 570px);
	margin-right: 20px;
	display: grid;
	grid: auto / 1fr 1fr;;;}
.cooperatePage .brandBlock article{
	text-align: center;
	margin-bottom: 50px;
	color: #676767;;;}
.cooperatePage .brandBlock article div{
	height: 230px;
	width: 230px;
	margin: 0 auto 20px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 1px 1px 6px #00000026;;;
	cursor: pointer;
}
.cooperatePage .brandBlock article h3{;;}
.cooperatePage .brandBlock article p{;;}
.cooperatePage .sticky{
	width: 550px;
	position: relative;;;}
.cooperatePage .sticky .stickyBox{
	position: sticky;
	top: 140px;
	padding-bottom: 20px;;;;}
.cooperatePage .sticky .swiper-slide div{
	width: 100%;
	height: 360px;
	background-size: cover;
	background-position: center;;;}
.cooperatePage .sticky .stickyBox p{
	line-height: 1.9;
	margin-top: 20px;;;}
.cooperatePage .swipeBlock .swiper-pagination{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
    margin: 10px 0;
}
.cooperatePage .swipeBlock .swiper-pagination span{
	margin: 0 5px;
    width: 12px;
    height: 6px;
    border-radius: 15px;
    transition: 0.3s;
}
.cooperatePage .swipeBlock .swiper-pagination span.swiper-pagination-bullet-active{
    width: 30px;
}
@media(max-width:1170px){
	.cooperatePage .brandBlock article div{
	    height: 180px;
	    width: 180px;
	    background-size: 80%;
	}
}
@media(max-width:992px){
	.cooperatePage .sticky{
		width: 320px;
	}
	.cooperatePage .brandBlock{
		width: calc(100% - 340px);
	}
	.cooperatePage .sticky .swiper-slide div{
		height: 200px;
	}
}
@media(max-width:768px){
	.cooperatePage .brandBlock{
		grid: auto / auto;
	}
	.cooperatePage .sticky{
		width: 230px;
	}
	.cooperatePage .brandBlock{
		width: calc(100% - 250px);
	}
	.cooperatePage .sticky .stickyBox{
	    top: 125px;
	}
}
@media(max-width:450px){
	.cooperatePage .brandBlock article div{
	    height: 90px;
	    width: 90px;
	    background-size: 80%;
	}
	.cooperatePage .sticky .stickyBox p{
		overflow: auto;
		height: calc(100vh - 410px)
	}
	.cooperatePage{
	    padding-top: 20px;
	}
	.cooperatePage .sticky .stickyBox {
	    top: 95px;
	}
	.cooperatePage .brandBlock article {
	    margin-bottom: 28px;
	}
	.cooperatePage .brandBlock article div{
	    margin: 0 auto 10px;
	}
}

.mapListPage .homeMap{
	padding-top: 40px;
}

.mapContentPage .description p{}
.mapContentPage .description{;
	padding: 40px 0 60px;;
	width: 992px;;
	margin: auto;}
.mapContentPage .description h2{;
	text-align: center;;
	margin-bottom: 15px;}
.mapContentPage .description p{}
.mapContentPage .flex{;
	display: flex;;
	align-items: flex-start;
    max-width: 992px;
    margin: auto;
}
.mapContentPage .mapImgBlock{;
	flex: 1;;
	display: flex;;
	align-items: center;;
	/*justify-content: center;;*/
	margin-bottom: 50px;
}
.mapContentPage .mapImgBlock img{
	width: 100%;
}
.mapContentPage .mapContent{;
	flex: 1;;
	position: relative;}
.mapContentPage .mapContent .grid{
	display: grid;
	width: 83%;
	grid: auto / 1fr 1fr;
	position: relative;}
.mapContentPage .mapContent article{;
	display: flex;;
	flex-direction: column;;
	align-items: center;;
	margin-bottom: 30px;;
	cursor: pointer;}
.mapContentPage .mapContent .photofix{;
    width: 180px;
    height: 180px;}
.mapContentPage .mapContent .photofix img{
	/*width: 100%;*/
	transition: 0.4s;}
.mapContentPage .mapContent article:hover .photofix img{;
	transform: scale(1.1);}
.mapContentPage .mapContent article p{ margin-top: 9px;}
.mapContentPage .experienceBlock{
	margin-bottom: 80px;}
.mapContentPage .experienceBlock h2{
	margin-bottom: 30px;}
.mapContentPage .experienceBlock ul{
	max-width: 768px;}
.mapContentPage .experienceBlock ul li{}
.mapContentPage .experienceBlock ul li a{
	display: flex;;
	align-items: center;}
.mapContentPage .experienceBlock .photofix{;
	width: 300px;
	height: 190px;;
	margin-right: 15px;}
.mapContentPage .experienceBlock .photofix img{;
	transition: 0.5s;}
.mapContentPage .experienceBlock a:hover .photofix img{;
	transform: scale(1.1);}
.mapContentPage .experienceBlock ul li p{;
	font-size: 19px;;
	color: #777;;
	transition: 0.3s;}
.mapContentPage .experienceBlock ul li a:hover p{;
	transform: translateX(10px);;
	color: #000;}
.mapContentPage .sliderBox{;
	opacity: 0;;
	pointer-events: none;;
	position: absolute;;
	width: 80%;;
	min-height: 100%;;
	background-color: #fff;;
	top: 0;;
	left: 0;;
	}
.mapContentPage .sliderBox.active{;
	opacity: 1;;
	pointer-events: all;}
.mapContentPage .sliderBox .main{;
	margin: 0 5px 10px;;}
.mapContentPage .sliderBox .main .swiper-slide div{;
	height: 250px;
	background-size: cover;;
	background-position: center;}
.mapContentPage .sliderBox .thumb{}
.mapContentPage .sliderBox .thumb .swiper-wrapper{;
	margin: 0 0px;;
	width: calc(100% + 10px);;}
.mapContentPage .sliderBox .thumb .swiper-slide{;
	width: 20%;}
.mapContentPage .sliderBox .thumb .swiper-slide .photofix{;
	width: calc(100% - 10px);;
	height: 90px;;
	margin: auto;;
	margin-bottom: 11px;}
.mapContentPage .sliderBox .thumb .swiper-slide .photofix img{;
	transition: 0.3s;;}
.mapContentPage .sliderBox .thumb .swiper-slide .photofix:hover img{;
	transform: scale(1.1);
	
}

.userCenterPage .flexFrame{
	display: flex;
	margin-top: 40px;
	margin-bottom: 80px;;}
.userCenterPage article.card{
	background-color: #f9f9f9;
	padding: 20px;
	position: relative;}
.userCenterPage .flexFrame .side{
	width: 300px;}
.userCenterPage .flexFrame .side article{
	min-height: calc(100% - 80px);}
.userCenterPage .flexFrame .side .portrait{
	position: relative;
	margin-top: -120px;
	margin-bottom: 20px;}
.userCenterPage .flexFrame .side .portrait .photofix{
	height: 130px;
	width: 130px;
	margin: auto;
	border: 5px solid #e29a00;}
.userCenterPage .flexFrame .side ul{}
.userCenterPage .flexFrame .side ul li{
	margin-bottom: 20px;}
.userCenterPage .flexFrame .side ul a{
	padding: 10px;
	display: block;
	color: #585757;
	text-align: center;}
.userCenterPage .flexFrame .side ul li.active a{
	background-color: #eab016;
	color: #fff;;}
.userCenterPage .flexFrame .main{
	width: calc(100% - 330px);
	margin-left: 30px;}
.userCenterPage .flexFrame .main .editGrid{
	display: grid;
	grid: auto auto auto auto / auto auto;
	grid-gap: 20px;}
.userCenterPage .flexFrame .main .editGrid article:nth-child(1){
	grid-area: 1 / 1;}
.userCenterPage .flexFrame .main .editGrid article:nth-child(2){
	grid-area: 2 / 1 / 5 / 1;}
.userCenterPage .flexFrame .main .editGrid article:nth-child(3){
	grid-area: 1 / 2 / 3 / 2;}
.userCenterPage .flexFrame .main .editGrid h3{
	margin-bottom: 15px;}
.userCenterPage .btnBlock{
	margin: 25px 0 -25px;
	display: flex;
	justify-content: flex-end;;;;}
.userCenterPage .btnBlock .btn{
	background-color: #eab015;
	border: 0;
	color: #fff;
	padding: 14px 40px;
	border-radius: 4px;;;;;}

 .userCenterPage .passwordBlock h3{
	margin-bottom: 35px;;}
 .userCenterPage .passwordBlock .inputGroup > input{
	max-width: 300px;;}

.userCenterPage ul.customList{
	border: 1px solid #000;;}
.userCenterPage ul.customList > li:not(:last-child){
	border-bottom: 1px solid #000;;}
.userCenterPage ul.customList > li:first-child{
	background-color: #000;
	color: #fff;;;}
.userCenterPage ul.customList ul{
	display: flex;;}
.userCenterPage ul.customList ul li{
	flex: 1;
	display: flex;
	align-items: center;
	padding: 11px;;;}
.userCenterPage ul.customList ul li:not(:last-child){
	border-right: 1px solid #000;;
}
.userCenterPage ul.customList ul li:last-child{
	justify-content: center;
}
.userCenterPage ul.customList > li:first-child li:not(:last-child){
	border-right: 1px solid #fff;;
}
.userCenterPage ul.customList .btn{
	padding: 10px 80px;
	background-color: #eab016;
	color: #fff;
	border-radius: 5px;;;;}

.userCenterPage .registerBlock,
.userCenterPage .questionnaireBlock{
	max-width: 768px;
	margin: auto;
	padding-bottom: 80px;
}
.userCenterPage .registerBlock h2,
.userCenterPage .questionnaireBlock h2{
	padding: 20px;
}
.userCenterPage .registerBlock h3,
.userCenterPage .questionnaireBlock h3{
	margin-bottom: 20px;
}
.userCenterPage .registerBlock .card{
	margin-bottom: 20px;}
.userCenterPage .registerBlock .flex{
	display: flex;}
.userCenterPage .registerBlock .flex > div{
	margin-right: 20px;}
.userCenterPage .registerBlock .flex3{
	display: flex;
	flex-direction: row;}
.userCenterPage .registerBlock .flex3 > div{
	margin-right: 20px;
	margin-bottom: 0;}
.inputGroup > div.inputFloat{
	display: block;
}
.inputGroup .inputFloat:after{
	display: table;
	content: '';
	clear: both;
}
.inputGroup .inputFloat > div{
	width: 20%;
	float: left;
	margin-bottom: 5px;
	white-space: nowrap;
}
.userCenterPage .questionnaireBlock .inputGroup > label{
	font-weight: 600;
}
.checkboxStyle.imgBlock{
	margin-bottom: 18px;
	margin-top: 10px;
	transition: 0.3s;
}
.checkboxStyle.imgBlock.disable{
	pointer-events: none;
	opacity: 0.3;
}
.checkboxStyle.imgBlock label{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;}
.checkboxStyle.imgBlock input{
	display: none;}
.checkboxStyle.imgBlock input + label{
	opacity: 0.5;
	transition: 0.5s;
}
.checkboxStyle.imgBlock input:checked + label{
	opacity: 1;
}
.checkboxStyle.imgBlock label div{
	height: 60px;
	width: 60px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 1px 1px 5px #00000061;}
.checkboxStyle.imgBlock label span{}
.loginPage{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-size: cover;
	background-position: center;}
.loginPage .loginFrame{
	background-color: #fff;
	max-width: 768px;
	width: 100%;;}
.loginPage .loginFrame .flex{
	display: flex;}
.loginPage .loginFrame .flex > div{
	flex: 1;
	min-height: 440px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;;;;;;;}
.loginPage .loginFrame article{
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;;;;;}
.loginPage .loginFrame article .userImg{
	height: 80px;
	width: 80px;
	background-size: contain;
	background-position: center;
	margin-bottom: 15px;;;;;}
.loginPage .loginFrame article p{
	margin-bottom: 20px;
	font-weight: 600;;}
.loginPage .loginFrame article a{
	color: #cfa972;;}
.loginPage .loginFrame article form{
	width: 80%;;}
.loginPage .loginFrame article input[type="text"],
.loginPage .loginFrame article input[type="email"],
.loginPage .loginFrame article input[type="password"]{
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;;;;;;;}
.loginPage .loginFrame article button{
	border: 0;
	width: 100%;
	padding: 11px 0;
	background-color: #cfa972;
	color: #fff;
	font-size: 16px;;;;;;;}
.loginPage .loginFrame article .remember{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;;;;}
.loginPage .loginFrame article .remember input{}
.loginPage .loginFrame article .remember label{}
.loginPage .loginFrame article .remember a{
	color: #888;
}



.mapBlock{
  max-width: 70%;
  position: relative;;}
.locateBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}
.mark{
  position: absolute;
  height: 0;
  width: 0;;;}

.width75{
  width: 75%;}
.outerBox .lineBox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 14px);
  height: calc(100% - 26px);
  background-color: rgb(67,80,175);
  -webkit-clip-path: polygon(calc(100% - 2px) 0, 100% 0%, 2px 100%, 0% 100%);
  clip-path: polygon(calc(100% - 2px) 0, 100% 0%, 2px 100%, 0% 100%);
  opacity: 0.5;}
.outerBox.RightBottom{
  top: 0;
  left:0;}
.outerBox.RightBottom .yuan{
  top: -13px;
  left: -13px;}
.outerBox.RightBottom .lineBox{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(67,80,175);
  -webkit-clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  opacity: 0.5;}
.outerBox.RightBottom .title{
  bottom: 27px;
  margin-left: 2px;}

.outerBox.TopLeft{
  bottom: 0;
  right: 0;}
.outerBox.TopLeft .lineBox{
  position: absolute;
  bottom: 0;
  left: calc(-100% + 3px);
  background-color: rgb(67,80,175);
  -webkit-clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  opacity: 0.5;
}
.outerBox.TopLeft .yuan{
  bottom: -13px;
  right: -13px;
}
.outerBox.TopLeft .title{
  top: 0px;
  text-align: right;
  right: calc(100% + 28px);
  left: auto;
}
.outerBox.dome_box .yuan{
  bottom: 27px;
  margin-left: 2px;
}
.outerBox.dome_box .lineBox{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(67,80,175);
  -webkit-clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  clip-path: polygon(100% calc(100% - -1px),calc(100% - -1px) 100%, 0px 0%, 0% 2px);
  opacity: 0.3;}
.outerBox.dome_box .title{
  bottom: 27px;
  margin-left: 2px;}
.outerBox .title{
  position: absolute;
  left: 100%;
  white-space: nowrap;
  display: block;
  height: 21px;
  padding-bottom: 5px;
  color: #4350af;
  cursor: pointer;}
.outerBox .title span{
  left: -17px;
  padding: 0 3px;
  position: relative;
  opacity: 0.5;
  cursor: pointer;}
.outerBox .title:after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(67,80,175);
  position: absolute;
  bottom: -2px;
  left: -16px;
  opacity: 0.5;}
.outerBox .yuan{
  content: " ";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px #4350af solid;
  border-radius: 50%;
  z-index: 8;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0.5;
  bottom: -13px;
  left: -13px;}
.yuan:after{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: #4350af;
  border-radius: 50%;
  content: " ";
  display: block;
  margin-top: -2.5px;
  margin-left: -2.5px;
  opacity: 0.5;}
.mark.active .lineBox,
.mark.active .yuan:after,
.mark.active .yuan,
.mark.active .title:after,
.mark.active .title span{
  opacity: 1;}
.mapImgBlock{
  position: relative;}
.layout h3{
  font-size: 16px;}
.layout p{
  font-size: 14px;
  margin-bottom: 10px;}
.mapContentPage .mapContent article.active .photofix img{
  transform: scale(1.1);}
.outerBox{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0px;}

  .mark.set1{
  top: 10%;
  left: 41%;;}
.set1 .outerBox{
  width: 90px;
  height: 90px;
  position: absolute;}
.mark.set2{
  bottom: 10%;
  left: 34%;}
.set2 .outerBox{
  width: 160px;
  height: 160px;
  position: absolute;}
.mark.set3{
  top: 36%;
  right: 52%;;}
.set3 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set4{
  top: 53%;
  right: 34%;;;}
.set4 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set5{;
  bottom: 23%;;
  right: 9%;;;}
.set5 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set6{
  bottom: 12%;
  right: 7%;}
.set6 .outerBox{
  width: 48px;
  height: 50px;
  position: absolute;}
.mark.set7{
  top: 53%;
  right: 21%;}
.set7 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set8{
  top: 36%;
  right: 11%;}
.set8 .outerBox{
  width: 87px;
  height: 100px;}
.mark.set9{
  bottom: 18%;
  right: 38%;}
.set9 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set10{
  top: 73%;
  right: 200px;
  left: 50%;}
.set10 .outerBox{
  width: 47px;
  height: 70px;
  position: absolute;}
.mark.set11{
  bottom: 25%;
  right: 46%;}
.set11 .outerBox{
  width: 87px;
  height: 100px;
  position: absolute;}
.mark.set12{
  bottom: 16%;
  left: 29%;}
.set12 .outerBox{
  width: 146px;
  height: 179px;
  position: absolute;}
.mark.set13{
  bottom: 17%;
  left: 48%;;;}
.set13 .outerBox{
  width: 104px;
  height: 123px;
  position: absolute;}
.mark.set14{
  top: 50%;
  left: 64%;}
.set14 .outerBox{
  width: 100px;
  height: 88px;
  position: absolute;}
.mark.set15{
  top: 39%;
  left: 33%;}
.set15 .outerBox{
  width: 60px;
  height: 96px;
  position: absolute;}
.mark.set16{
  top: 53%;
  right: 6%;}
.set16 .outerBox{
  width: 69px;
  height: 69px;
  position: absolute;}
.mark.set17{
  bottom: 23%;
  right: 28%;}
.set17 .outerBox{
  width: 128px;
  height: 110px;
  position: absolute;}
.mark.set18{
  bottom: 31%;
  right: 16%;}
.set18 .outerBox{
  width: 69px;
  height: 69px;
  position: absolute;}
.mark.set19{
  bottom: 23%;
  right: 28%;}
.set19 .outerBox{
  width: 47px;
  height: 123px;
  position: absolute;}
.mark.set20{
  left: 25%;
  bottom: 15%;}
.set20 .outerBox{
  width: 60px;
  height: 59px;}
.mark.set21{
  bottom: 39%;
  left: 13%;}
.set21 .outerBox{
  width: 95px;
  height: 94px;}
.mark.set22{
  left: 20%;
  bottom: 7%;}
.set22 .outerBox{
  width: 79px;
  height: 72px;
  position: absolute;}