/*----------*/
.set1{
    width: 200px;
    height: 300px;
}
.outerBox{
    position: relative;
}
.outerBox .lineBox{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 14px);
    height: calc(100% - 26px);
    background-color: #4350af;
    -webkit-clip-path: polygon(calc(100% - 2px) 0, 100% 0%, 2px 100%, 0% 100%);
    clip-path: polygon(calc(100% - 2px) 0, 100% 0%, 2px 100%, 0% 100%);
    opacity: 0.7;
}
.outerBox .title{
    position: absolute;
    left: 100%;
    white-space: nowrap;
    display: block;
    height: 21px;
    padding-bottom: 5px; 
    color: #4350af;
    opacity: 0.7;
}
.outerBox .title:after{
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #4350af;
    position: absolute;
    bottom: -2px;
    left: -17px;
    opacity: 0.7;
}
/*----------*/
.outerBox{
    margin-left: 50px;
}
.outerBox .yuan{
    content: " ";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px #4350af solid;
    border-radius: 50%;
    bottom: -13px;
    left: -13px;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0.7;
}
.yuan:after{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    background: #4350af;
    border-radius: 50%;
    content: " ";
    display: block;
    top: 50%;
    margin-top: -2.5px;
    left: 50%;
    margin-left: -2.5px;
    opacity: 0.7;
}