body{
	margin: 0;;}
.container{
	max-width: 992px;
	margin: auto;
}
ul,li{
	padding: 0;
	list-style: none;
	margin: 0;;;;}
.header{}
.header .headerWrap{
	background-color: #000;
	padding: 25px 40px 10px;;;}
.header .headerWrap img{
	height: 70px;;}
.main{}
.main h1{}
.main .CustomizeList{}
.main .CustomizeList ul:after{
	content: '';
	clear: both;
	display: table;
}
.main .CustomizeList > ul:not(:last-child){
	border-bottom: 1px solid #c4c4c4;;}
.main .CustomizeList > ul > li{;;
	float: left;;;
	padding: 14px 10px;;;}
.main .CustomizeList > ul > li:first-child{
	width: 150px;
	font-weight: 600;;;;;}
.main .CustomizeList > ul > li:last-child{
	width: calc(100% - 191px);;;}
.main .CustomizeList > ul ul{
	list-style: disc;
	padding-left: 17px;;;}
.main .CustomizeList > ul ul li{;
	list-style: circle;;;}
.main .CustomizeList span{}
.footer{;
	padding: 40px 0;}
.footer .container:after{
	content: '';
	clear: both;
	display: table;
}
.footer .container > img{
	vertical-align: middle;
	margin-right: 19px;
	width: 80px;;;;}
.footer .container > div{
	display: inline-block;;}